@inject IJSRuntime jsRuntime
@inject HttpClient Http
@using AISComp.Tools
@using System.Text.Json
@inject NavigationManager NavigationManager

<link rel="stylesheet" href="/leaflet/leaflet.css" />
<script src="leaflet/leaflet.js"></script>

<div id="map" style="pointer-events: auto; background-color: rgba(200,220,230,80%);
	width: 100%; height: calc(100%); z-index: 1;"></div>

@if (selectedLocation != null)
{
	<div id="right">
		<br><h3><b>@selectedLocation.Name</b></h3>
		@selectedLocation.City, @selectedLocation.State (@CountyName County)
		<br>@selectedLocation.Size.ToString() Employees

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="@($"tree/{selectedLocation.ID}")" Match="NavLinkMatch.All">
				<span class="oi oi-people" aria-hidden="true"></span> View Organization Chart
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="@($"stats/{Fip}")" Match="NavLinkMatch.All">
				<span class="oi oi-pie-chart" aria-hidden="true"></span> See State and County Disaster Statistics
			</NavLink>
		</div>
	</div>
}



@code {
	[Parameter] public Location? selectedLocation { get; set; }
	public required string Fip { get; set; }
	public required string CountyName { get; set; }

	// Options for JSON serialization.
	private JsonSerializerOptions options = new JsonSerializerOptions
		{
			PropertyNamingPolicy = null,
		};

	protected override async Task OnAfterRenderAsync(bool first)
	{
		if (first)
		{
			string filePath = Path.Combine("Data", "counties.geojson");
			string fileContents = await File.ReadAllTextAsync(filePath);
			IJSObjectReference jsModule = await jsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/runMapThings.js");
			await jsModule.InvokeVoidAsync("runMapThings", fileContents); // Initialize the map
			await jsModule.InvokeVoidAsync("setDotNetHelper", DotNetObjectReference.Create(this));
			// Call runCommon once to add initial hexes
			_ = assignPins(jsModule);
		}
	}

	private async Task assignPins(IJSObjectReference jsModule)
	{
		_ = Task.Run(() => jsModule.InvokeVoidAsync("runCommon", "#03173E", JsonSerializer.Serialize(CSVLoader.Locations, options)));
		if (selectedLocation != null) await jsModule.InvokeVoidAsync("reSelect", JsonSerializer.Serialize(selectedLocation, options));
	}

	// When a location is selected from the map (or hex is clicked),
	[JSInvokable("InvokeIt")]
    public async Task InvokeIt(Location input, string fip, string County)
    {
        if (fip != null) Fip = fip;
        if (County != null) CountyName = County;
        selectedLocation = input;
        StateHasChanged();
        await Task.CompletedTask;
    }

	[JSInvokable("County")]
	public async Task County(string fip)
	{
		NavigationManager.NavigateTo($"/Stats/{fip}");
		await Task.CompletedTask;
    }
}
